body {
    background-color: #6f00ff;
    color: rgb(255, 255, 255);
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
    
}
button {
    background-color: #a905ca;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;

}
.passo {
    display:none;
}

.passo.ativo {
    display:block;
}

main {
    text-align:center;
    max-width: 70%;
}

img {
    max-width:70%;
}